# Assignment 1

## Perform the following operations using R/Python on suitable data sets:
#### a) read data from different formats (like csv, xls)
#### b) Find Shape of Data
#### c) Find Missing Values
#### d) Find data type of each column
#### e) Finding out Zero's
#### f) Indexing and selecting data, sort data,
#### g) Describe attributes of data, checking data types of each column,
#### h) counting unique values of data, format of each column, converting variable
#### data type (e.g. from long to short, vice versa)

In [1]:
import pandas as pd

In [16]:
# read data from different formats (like csv, xls)
df = pd.read_csv(r'C:\Users\shubh\Downloads\Classroom\SY\SEM IV\Machine Learning\Lab\Datasets\Heart (1).csv')
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [17]:
# Find Shape of Data
df.shape

(303, 15)

In [18]:
# Find Missing Values
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [19]:
# Find Missing Values
df.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [20]:
# Find data type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [21]:
# Find data type of each column
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [22]:
# Finding out Zero's
df == 0

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
4,False,False,True,False,False,False,True,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
299,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False
300,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False
301,False,False,True,False,False,False,True,False,False,True,True,False,False,False,False
302,False,False,False,False,False,False,True,True,False,True,True,False,False,False,False

In [23]:
# Finding out Zero's
print((df == 0).sum())

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [24]:
# Indexing and selecting data, sort data,
df.iloc[0]

Unnamed: 0          1
Age                63
Sex                 1
ChestPain     typical
RestBP            145
Chol              233
Fbs                 1
RestECG             2
MaxHR             150
ExAng               0
Oldpeak           2.3
Slope               3
Ca                0.0
Thal            fixed
AHD                No
Name: 0, dtype: object

In [25]:
# Indexing and selecting data, sort data,
df.iloc[2 : 7]

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes

In [28]:
# Indexing and selecting data, sort data,
df.loc[2]

Unnamed: 0               3
Age                     67
Sex                      1
ChestPain     asymptomatic
RestBP                 120
Chol                   229
Fbs                      0
RestECG                  2
MaxHR                  129
ExAng                    1
Oldpeak                2.6
Slope                    2
Ca                     2.0
Thal            reversable
AHD                    Yes
Name: 2, dtype: object

In [29]:
# Indexing and selecting data, sort data,
df.iloc[2]

Unnamed: 0               3
Age                     67
Sex                      1
ChestPain     asymptomatic
RestBP                 120
Chol                   229
Fbs                      0
RestECG                  2
MaxHR                  129
ExAng                    1
Oldpeak                2.6
Slope                    2
Ca                     2.0
Thal            reversable
AHD                    Yes
Name: 2, dtype: object

In [32]:
# Indexing and selecting data, sort data,
df['AHD']

0       No
1      Yes
2      Yes
3       No
4       No
      ...
298    Yes
299    Yes
300    Yes
301    Yes
302     No
Name: AHD, Length: 303, dtype: object

In [33]:
df[['AHD', 'Fbs']]

     AHD  Fbs
0     No    1
1    Yes    0
2    Yes    0
3     No    0
4     No    0
..   ...  ...
298  Yes    0
299  Yes    1
300  Yes    0
301  Yes    0
302   No    0

[303 rows x 2 columns]

In [36]:
# Indexing and selecting data, sort data,
sorted_df = df.sort_values(by='Chol', ascending=True)
sorted_df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
202,203,57,1,nonanginal,150,126,1,0,173,0,0.2,1,1.0,reversable,No
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
93,94,44,0,nonanginal,108,141,0,0,175,0,0.6,2,0.0,normal,No
273,274,71,0,asymptomatic,112,149,0,0,125,0,1.6,2,0.0,normal,No
232,233,49,1,nonanginal,118,149,0,2,126,0,0.8,1,3.0,normal,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,174,62,0,asymptomatic,140,394,0,2,157,0,1.2,2,0.0,normal,No
121,122,63,0,asymptomatic,150,407,0,2,154,0,4.0,2,3.0,reversable,Yes
181,182,56,0,asymptomatic,134,409,0,2,150,1,1.9,2,2.0,reversable,Yes
48,49,65,0,nonanginal,140,417,1,2,157,0,0.8,1,1.0,normal,No
152,153,67,0,nonanginal,115,564,0,2,160,0,1.6,2,0.0,reversable,No

In [30]:
# Describe attributes of data, checking data types of each column,
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [31]:
# Describe attributes of data, checking data types of each column,
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [39]:
# Describe attributes of data, checking data types of each column,
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [45]:
# counting unique values of data, format of each column, converting variable data type (e.g. from long to short, vice versa)
unique_value = df['Age'].value_counts()
unique_value

Age
58    19
57    17
54    16
59    14
52    13
60    12
51    12
56    11
62    11
44    11
64    10
41    10
67     9
63     9
42     8
43     8
45     8
53     8
55     8
61     8
65     8
50     7
66     7
48     7
46     7
47     5
49     5
70     4
68     4
35     4
39     4
69     3
71     3
40     3
34     2
37     2
38     2
29     1
77     1
74     1
76     1
Name: count, dtype: int64

In [48]:
# counting unique values of data, format of each column, converting variable data type (e.g. from long to short, vice versa)
unique_value = df['Sex'].nunique()
unique_value

2

In [49]:
# counting unique values of data, format of each column, converting variable data type (e.g. from long to short, vice versa)
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [50]:
# counting unique values of data, format of each column, converting variable data type (e.g. from long to short, vice versa)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [52]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [56]:
df.head(20)

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes
10,11,57,1,asymptomatic,140,192,0,0,148,0,0.4,2,0.0,fixed,No
11,12,56,0,nontypical,140,294,0,2,153,0,1.3,2,0.0,normal,No
12,13,56,1,nonanginal,130,256,1,2,142,1,0.6,2,1.0,fixed,Yes
13,14,44,1,nontypical,120,263,0,0,173,0,0.0,1,0.0,reversable,No
14,15,52,1,nonanginal,172,199,1,0,162,0,0.5,1,0.0,reversable,No
15,16,57,1,nonanginal,150,168,0,0,174,0,1.6,1,0.0,normal,No
16,17,48,1,nontypical,110,229,0,0,168,0,1.0,3,0.0,reversable,Yes
17,18,54,1,asymptomatic,140,239,0,0,160,0,1.2,1,0.0,normal,No
18,19,48,0,nonanginal,130,275,0,0,139,0,0.2,1,0.0,normal,No
19,20,49,1,nontypical,130,266,0,0,171,0,0.6,1,0.0,normal,No

In [59]:
df['Ca'].unique()

array([ 0.,  3.,  2.,  1., nan])

In [60]:
df['Ca'].dtype

dtype('float64')

In [53]:
df['Ca'].mean()

0.6722408026755853

In [57]:
df['Ca'].median()

0.0

In [58]:
df['Ca'].mode()

0    0.0
Name: Ca, dtype: float64

In [61]:
df['Ca'].interpolate()

0      0.0
1      3.0
2      2.0
3      0.0
4      0.0
      ...
298    0.0
299    2.0
300    1.0
301    1.0
302    1.0
Name: Ca, Length: 303, dtype: float64

In [62]:
# Filling Missing values
df['Ca'] = df['Ca'].fillna(df['Ca'].interpolate())

In [64]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          2
AHD           0
dtype: int64

In [65]:
df['Ca'] = df['Ca'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          303 non-null    int64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(1), int64(11), object(3)
memory usage: 35.6+ KB